body {
    font-family: sans-serif;
    background-color: rgb(170, 170, 170);
}

h1 {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, purple, violet, purple);
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

span {
    color: purple;
}

footer {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
}
